@use "variables" as *;

body {
	margin: var(--margin-default);
	background-color: var(--color-background);
	font-family: Roboto, sans-serif;
	font-size: var(--size-font);
	color: var(--color-text);
}
