@use "variables" as *;
@use "sass:math";

@import "grid_cols";
@import "grid_rows";
@import "grid_both";

@for $i from 1 to 6 {
	.spacer#{$i} {
		background-color: rgb(random(255), random(255), random(255));
	}
}

.spacer2 {
	height: 2em;
}

.spacer3 {
	height: 3em;
}
