.grid-root-rows {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 1fr;
	column-gap: var(--grid-gap);
	row-gap: var(--grid-gap);

	@media screen and (min-width: 415px) {
		grid-template-rows: 1fr 1fr;
	}

	@media screen and (min-width: 1081px) {
		grid-template-rows: repeat(3, 1fr);
	}

	@media screen and (min-width: 1366px) {
		grid-template-rows: repeat(4, 1fr);
	}
}
