.grid-root-cols {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	column-gap: var(--grid-gap);
	row-gap: var(--grid-gap);

	@media screen and (min-width: 415px) {
		grid-template-columns: 1fr 1fr;
	}

	@media screen and (min-width: 1081px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media screen and (min-width: 1366px) {
		grid-template-columns: repeat(4, 1fr);
	}
}
