.grid-root-both {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	column-gap: var(--grid-gap);
	row-gap: var(--grid-gap);

	@media screen and (min-width: 415px) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 2fr;
	}

	@media screen and (min-width: 1081px) {
		grid-template-columns: 1fr 3fr 2fr;
		grid-template-rows: 10em 500px 50px;
	}

	@media screen and (min-width: 1366px) {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 2fr);
	}
}
