$backgroundColor: #124 !default;
$color: #fff !default;
$colorHighlight: #8b4 !default;
$fontSize: 1.6rem !default;
$fontSizeDesktop: 1.8rem !default;
$spacing: 1em !default;

$breakpoint1: 576px;
$breakpoint2: 768px;
$breakpoint3: 992px;
$breakpoint4: 1200px;

:root {
	--color-background: #{$backgroundColor};
	--color-text: #{$color};
	--color-text-highlight: #{$colorHighlight};
	--size-font: #{$fontSize};
	--margin-default: #{$spacing};
	--grid-gap: #{$spacing};

	@media screen and (min-width: #{$breakpoint1}) {
		--size-font: #{$fontSizeDesktop};
	}

	@media screen and (min-width: #{$breakpoint3}) {
		--margin-default: #{$spacing * 1.5};
		--grid-gap: #{$spacing * 1.5};
	}
}
