/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/
/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    Remove list styles (bullets/numbers)
    in case you use it with normalize.css
  */
ol,
ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

:root {
  --color-background: #124;
  --color-text: #fff;
  --color-text-highlight: #8b4;
  --size-font: 1.6rem;
  --margin-default: 1em;
  --grid-gap: 1em;
}
@media screen and (min-width: 576px) {
  :root {
    --size-font: 1.8rem;
  }
}
@media screen and (min-width: 992px) {
  :root {
    --margin-default: 1.5em;
    --grid-gap: 1.5em;
  }
}

body {
  margin: var(--margin-default);
  background-color: var(--color-background);
  font-family: Roboto, sans-serif;
  font-size: var(--size-font);
  color: var(--color-text);
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.grid-root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  column-gap: var(--grid-gap);
  row-gap: var(--grid-gap);
}
@media screen and (min-width: 415px) {
  .grid-root {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1081px) {
  .grid-root {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1366px) {
  .grid-root {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.spacer1 {
  background-color: #59d58d;
}

.spacer2 {
  background-color: #29e2bd;
}

.spacer3 {
  background-color: #179f02;
}

.spacer4 {
  background-color: #f645a6;
}

.spacer5 {
  background-color: #421490;
}